<div class='container'>
  <!-- サービス紹介 -->
  <div class='features'>
    <div class="section-title text-center">
      <h2 class='title'>ItTとは</h2>
      <h4 class='title-text'>このアプリはITのことでメモに残したいものを記録に残せるサービスです</h4>
    </div>
    <div class='row inview fadeIn_up'>
        <div class=' col-md-4 col-sm-6 feature text-center top-icon'>
          <span aria-hidden='true' class='glyphicon glyphicon-check top-icon' style='font-size: 40px'></span>
          <h3 class='feature-title'>メモ</h3>
          <p>✔  手軽にメモしたいことや気になった事を記録することができます</p>
        </div>
        <div class=' col-md-4 col-sm-6 feature text-center top-icon'>
          <span aria-hidden='true' class='glyphicon glyphicon-zoom-in top-icon' style='font-size: 40px'></span>
          <h3 class='feature-title'>探しやすい</h3>
          <p>✔  気になるストレッチをお気に入り登録や最新の口コミから検索可能</p>
        </div>
        <div class=' col-md-4 col-sm-6  feature text-center top-icon'>
          <span aria-hidden='true' class='glyphicon glyphicon-thumbs-up ' style='font-size: 40px'></span>
          <h3 class='feature-title'>管理</h3>
          <p>✔  管理しやすいようにリスト化して自分の好きなようにリストを入れ替えたりできます</p>
        </div>
    </div>
  </div>
</div>