<header>
  <h1>
    <a href="/">ItT</a>
  </h1>
  <nav class='pc-nav'>
    <ul>
      <li><a href="#">新規登録</a></li>
      <li><a href="#">ログイン</a></li>
      <li><a href="#">about</a></li>
      <li><a href="#">about</a></li>
    </ul>
  </nav>
</header>